@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
	font-size: 16 px;
	background-color: #e6e6e6;
	color: black;
	max-width: 900 px;
	margin: auto; 
	font-family: 'Montserrat';
}
h2 {
	margin-top: 49px;
	margin-botton: 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	padding: 10 px;
} 
